.hero{
  background-image: url('https://images.unsplash.com/photo-1513694203232-719a280e022f?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 1;
}
.content{
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  color :white;
  text-align: center;
}

.top h1{
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0px;
  color: white;
}
.top p {
  font-size: 1.25rem;
  margin-bottom: 15px;
  margin-top: 0;
}

.bottom{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.hero-content-search{
  display: flex;
  background: rgba(255, 255, 255, 0.8); 
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.hero-content-search input{
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  width: 300px;
}

.hero-content-search button{
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover{
  transform: scale(1.005);
  background-color: orange;
  color: white;
}
.results {
  margin: 50px ;
  display: grid;
  column-gap: 0px;
  row-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  margin-top: 50px;
  justify-content: space-around;
}

@media (min-width: 500px) and (max-width: 768px) {
  .results {
      grid-template-columns: repeat(2, 1fr);
  }
  input[type="text"] {
      width: 70%;
  }   
}

@media (max-width: 499px) {
  .results {
      grid-template-columns: 1fr;
  }    
}